<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Edit contact</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<body>
<div class="container my-5">
    <h3> Edit contact</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-8">
                <form action="#" th:action="@{/updateContact/{id}(id=${person.id})}" th:object="${person}"
                      method="post">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="name" class="col-form-label">Name</label> <input type="text" th:field="*{name}"
                                                                                         class="form-control" id="name"
                                                                                         placeholder="Name"> <span
                                th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="surname" class="col-form-label">Surname</label> <input type="text"
                                                                                               th:field="*{surname}"
                                                                                               class="form-control"
                                                                                               id="surname"
                                                                                               placeholder="Surname">
                            <span
                                    th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"
                                    class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="group" class="col-form-label">Group</label> <input type="text"
                                                                                           th:field="*{group}"
                                                                                           class="form-control"
                                                                                           id="group"
                                                                                           placeholder="Group"> <span
                                th:if="${#fields.hasErrors('group')}" th:errors="*{group}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="phoneNumber" class="col-form-label">Phone number</label> <input type="text"
                                                                                                        th:field="*{phoneNumber}"
                                                                                                        class="form-control"
                                                                                                        id="phoneNumber"
                                                                                                        placeholder="Phone number">
                            <span
                                    th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"
                                    class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email" class="col-form-label">Email</label> <input type="email"
                                                                                           th:field="*{email}"
                                                                                           class="form-control"
                                                                                           id="email"
                                                                                           placeholder="Email"> <span
                                th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="comments" class="col-form-label">Comments</label> <input type="text"
                                                                                                 th:field="*{comments}"
                                                                                                 class="form-control"
                                                                                                 id="comments"
                                                                                                 placeholder="comments">
                            <span th:if="${#fields.hasErrors('comments')}" th:errors="*{comments}"
                                  class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="submit" class="btn btn-warning" value="Update contact">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>